rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // 1. 누구나 등록된 매물의 사진과 360도 파노라마를 조회하고 읽을 수 있습니다.
      allow read: if true;

      // 2. 소장님(관리자) 본인의 원활한 업로드 테스트를 위해 쓰기 권한을 허용합니다. (아이프레임 환경 소셜 로그인 한계 우회)
      allow write: if true;
    }
  }
}
